{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>
<div class="row">
  <div class="col">
    <h2>Items</h2>
    {% if writer_role == True %}
    <form action="add" method="POST">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" name="to_do_title" class="form-control" placeholder="To-Do item to add"
            aria-label="To-Do item to add" aria-describedby="add-title-button" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="add-title-button">Submit</button>
          </div>
        </div>
      </div>
    </form>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>To Do</h3>
    {% for item in view_model.todo_items %}
    <div class="card mb-2">
      <div class="card-body">
        <p class="card-text">{{item.title}}</p>
        {% if writer_role == True %}
        <div class="text-right">
          <div class="btn-group mr-1">
            <form action="delete/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Delete">
                <i class="bi bi-trash"></i>
              </button>
            </form>
          </div>
          <div class="btn-group">
            <form action="markdoing/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Mark as Doing">
                <i class="bi bi-play"></i>
              </button>
            </form>
            <form action="markdone/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Mark as Done">
                <i class="bi bi-check"></i>
              </button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col">
    <h3>Doing</h3>
    {% for item in view_model.doing_items %}
    <div class="card mb-2">
      <div class="card-body">
        <p class="card-text">{{item.title}}</p>
        {% if writer_role == True %}
        <div class="text-right">
          <div class="btn-group mr-1">
            <form action="delete/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Delete">
                <i class="bi bi-trash"></i>
              </button>
            </form>
          </div>
          <div class="btn-group">
            <form action="marktodo/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Mark as To Do">
                <i class="bi bi-rewind"></i>
              </button>
            </form>
            <form action="markdone/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Mark as Done">
                <i class="bi bi-check"></i>
              </button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col">
    <h3>Done</h3>
    {% for item in view_model.done_items %}
    <div class="card mb-2">
      <div class="card-body">
        <p class="card-text">{{item.title}}</p>
        {% if writer_role == True %}
        <div class="text-right">
          <div class="btn-group mr-1">
            <form action="delete/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Delete">
                <i class="bi bi-trash"></i>
              </button>
            </form>
          </div>
          <div class="btn-group">
            <form action="marktodo/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Mark as To Do">
                <i class="bi bi-rewind"></i>
              </button>
            </form>
            <form action="markdoing/{{ item.id }}" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm" title="Mark as Doing">
                <i class="bi bi-play"></i>
              </button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}