# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=production

# Change the following values for local development.
SECRET_KEY=secret-key
TRELLO_API_KEY={{ trello_api_key }}
TRELLO_API_TOKEN={{ trello_api_token }}
TRELLO_DEV_BOARD_ID=62cb2f8e2a6c5727309bc790
TRELLO_TODO_LIST_ID=62cb2f8e2a6c5727309bc797
TRELLO_DOING_LIST_ID=62f16e5ee6e5452b123c6059
TRELLO_DONE_LIST_ID=62cb2f8e2a6c5727309bc799